
<div class="container homeButtonContainer">
    <button type="button" class="btn btn-outline-primary randomButton" (click)="getRandomJoke(); openModal()">Blague aléatoire</button>
</div>

<div class="modal" id="jokeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title">blague numéro {{ joke?.id }}</h5>
                <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <h6>{{ joke?.question }}</h6>
                    <p>{{ joke?.response }}</p>
                </div>
            </div>
            <div class="text-center mb-5">
                <button type="button" (click)="closeModal()" class="btn btn-outline-primary randomButton" data-bs-dismiss="modal">Fermer</button>
                
            </div>
        </div>
    </div>
</div>