<div class="container text-center globalContainer">
    <h1>Créez votre propre blague</h1>
    <form [formGroup]="formAdd" class="my-5" (ngSubmit)="onSubmit()">
        <div class="container formContainer">
            <div class="row">
                <div class="col-12">
                    <label for="question" class="form-label">La question</label>
                    <input type="text" formControlName="question" id="question" class="form-control">
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                    <label for="response" class="form-label">La réponse</label>
                    <input type="text" formControlName="response" id="response" class="form-control">
                </div>
            </div> 
        
        </div>
        <div class="text-center mt-4 buttonContainer">
            <button type="submit" class="btn btn-outline-primary buttonSubmit">Ajouter</button>
        </div>
    </form>
</div>
