<section id="sectionDetails">
    <h1 class="mb-5">Détails de la blague</h1>

        <div class="containerDetails py-3">
            <div class="container text-center">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <h3>Blague numéro {{ joke?.id }}</h3>
                    <div class="container jokeContainer">
                        <h4>{{ joke?.question }}</h4>
                        <p>{{ joke?.response }}</p>
                    </div>
                </div>
            
            </div>
            <div class="container text-center">
                <button class="btn btn-outline-primary"><a routerLink="/blagues">Liste des blagues</a></button>
            </div>
        </div>
        
</section>