#sectionDetails {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;

}
h1 {
    font-weight: bold;
}

h3 {
    text-decoration: underline;
    font-weight: 900;
    
}

.containerDetails {
    border: thick double #32a1ce;
    border-radius: 20px;
}

button a {
    text-decoration: none;
}


button:hover {
    background-color: rgb(115 231 255);
    color: blue;
}


@media screen and (min-width: 320px) and (max-width: 425px) {
    h1 {
        font-size: 19px;
    }

    button {
        width: 50%;
        height: 3rem;
        font-size: small;
    }

    h3{
        font-size: medium;
    }

    h4 {
        font-size: medium;
    }

    p {
        font-size: 14px;
    }

    .containerDetails {
        width: 80%;
    }
}