.card {
    border: thick double #32a1ce;
    border-radius: 20px;
    
    
}

h4 {
    text-decoration: underline
}



button:hover {

    background-color: rgb(115 231 255);
    color: blue;
    
}