<section id="editJoke">
    <div class="container backgroundContainer">
        <div>
            <h1 class="text-center mb-5">mettre à jour cette blague</h1>
        </div>
    
        <div>
            <form class="formInput py-5" [formGroup]="formUpdate" (ngSubmit)="onSubmit()">
                <div class="container text-center">
                    <div class="mt-2 input">
                        <label for="question" class="form-label">Question de la blague</label>
                        <input type="text" formControlName="question" id="question" class="form-control" >
                    </div>
                    <div class="mt-2 input">
                        <label for="response" class="form-label">Réponse de la blague</label>
                        <input type="text" formControlName="response" id="response" class="form-control" >
                    </div>
                    <button class="btn btn-outline-primary mt-4 buttonSubmit" type="submit">Valider</button>
                </div>
            </form>
        </div>
    </div>
</section>
